.navbar {
    background: linear-gradient(127deg,#000540,#000329,#000113 70.71%), linear-gradient(227deg,#000540,#000329,#000113 70.71%);
   
}

.navv {
    margin-left: -4em;
   
}
.nnav{
    font-size:20px;
    color:white;
}

